<!DOCTYPE html>
<html lang="ko">
<head>
  <%- include('./layout/head') %>
</head>
<body>
  <div class="wrap">
    <header>
      <%- include('./layout/header') %>
    </header>
    <div>
      <div class="container">
        <div class="row">
            <table class="table table-bordered" style="height: 500px">
                <thead>
                    <tr class="table-active">
                        <th colspan="2" scope="col" style="width: 100%"><%= goods.title %></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="1" class="p-5" style="width: 50%">
                        <img src="/images/<%=goods.photo%>" alt="" width="100%">
                        </td>
                        <td colspan="1" class="p-5" style="width: 50%">
                        <p>
                          <span class="goodsInfoBox"><%= goods.status%></span>
                          <span class="goodsInfoBox">지역 : <%= goods.city %></span>
                          <span class="goodsInfoBox">카테고리 : <%= goods.category %></span>
                          <span class="goodsInfoBox">가격 : <%= goods.price %> 원</span>
                        </p>
                        <%- goods.content %>
                        </td>
                    </tr>
                </tbody>
            </table>
            
          <% if(user && ((user['grade'] == 2 || user.no == goods.writerNo))){ %>
          <form id="form" class="form-inline justify-content-end" method="DELETE" >
              <div class="form-group mx-1">
                  <input type="button" class="btn btn-success" value="거래중" formaction="/goods/:no" />
              </div>
          </form>
          <form id="form" class="form-inline justify-content-end" method="DELETE" >
              <div class="form-group mx-1">
                  <input type="button" class="btn btn-success" value="예약중" formaction="/goods/:no" />
              </div>
          </form>
          <form id="form" class="form-inline justify-content-end" method="DELETE" >
            <div class="form-group mx-1">
                <input type="button" class="btn btn-success" value="거래완료" formaction="/goods/:no" />
            </div>
        </form>
        <form id="form" class="form-inline justify-content-end" method="DELETE">
            <div class="form-group mx-1">
                <input type="button" class="btn btn-danger" value="삭제" formaction="/goods/:no" />
            </div>
        </form>
          <% } %>
      </div>
    </div>
    <div class="comment-container">
      <span class="comment-title">댓글</span>
      <ul class="comment-ul">
        <%for(i in comments){%>
          <li class="comment-li">
            <span class="comment-nickname"><%=comments[i].writerNickName%></span>
            <span class="comment-content"><%=comments[i].content%></span>
            <button class="comment-btn" onclick="deleteComment('/goodsDetail/<%=goods.no%>/comments/<%=comments[i].no%>')"><i class="fa fa-trash"></i></button>
          </li>
        <%}%>
      </ul>
      <form id="form" class="" method="POST" action="/goodsDetail/<%=goods.no%>/comments" onsubmit="return onWriteSubmit();">
        <div class="form-group mx-1">
            <input type="text" class="form-control" name="content" style="width:90%;display: inline;"/>
            <input type="submit" class="btn btn-primary" value="등록" />
        </div>
      </form>
    </div>
    <footer>
      <%- include('./layout/footer') %>
    </footer>
  </div>
  <script>
    function deleteComment(url){
      $.ajax({
        method: 'delete',
        url: url,
        success: function(response) {
          location.reload()
        }
      });
    }
    function onWriteSubmit(){
      if($('input[name=content]').val().trim() == ""){
        var message = "댓글을 입력해 주세요";
        $('input[name=content]').val("");
        $('input[name=content]').focus();
        alert(message);
        return false;
      }
    }
  </script>
</body>
</html>