<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./layout/head') %>
  </head>
  <body>
    <div id="wrap">
      <!-- header -->
      <header><%- include('./layout/header') %></header>
      <!-- section.search -->
      <section class="container">
        <div class="row justify-content-center m-4">
          <div class="input-group col-md-6">
            <form action="/search" method="GET" class="form-inline w-100">
              <input
                type="text"
                name="word"
                class="form-control"
                style="width: 90%;"
                placeholder="검색어를 입력해주세요."
              />
              <div class="input-group-append form-group" style="width: 10%;">
                <button type="submit" class="btn btn-secondary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="row justify-content-center">
          <div
            class="col-6"
            id="word-cloud"
            style="height: 350px"
          ></div>
        </div>
      </section>
      <!-- section.goods__list -->
      <section class="goods__list container mt-3">
        <h2 class="mb-3" style="text-align: center; font-weight: bold">
          최근 중고 매물
        </h2>
        <hr />
        <div class="product-list">
          <%
          var rows = Math.ceil(recGoods.length/4);
          for(var i = 0; i < rows; i++){ 
          %>
          <div class="row mb-3">
            <% for(var j = i*4; j < (i+1)*4; j++){ %>
            <div class="col-md-3 col-sm-6">
              <div class="white-box">
                <div class="wishlist-icon">
                  <a href="javascript:void(0);"><i class="far fa-heart"></i></a>
                </div>
                <div class="product-img" style="cursor: pointer;" onclick="location.href='/goodsDetail/<%= recGoods[j].no %>'">
                  <img src="/images/<%=recGoods[j].photo%>"/>
                </div>
                <div class="product-bottom">
                  <div class="product-name"><%=recGoods[j].title%></div>
                  <% var price = recGoods[j].price;%>
                  <div class="price"><%=price.toLocaleString()%>원</div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <% } %>
        </div>
      </section>
      <footer><%- include('./layout/footer') %></footer>
    </div>
    <script type="text/javascript">
        var word_array = [
          { text: "<%=searchHis[0].word%>", weight: 20, link: "/search?word=<%=searchHis[0].word%>" },
          { text: "<%=searchHis[1].word%>", weight: 14, link: "/search?word=<%=searchHis[1].word%>" },
          { text: "<%=searchHis[2].word%>", weight: 11, link: "/search?word=<%=searchHis[2].word%>" },
          { text: "<%=searchHis[3].word%>", weight: 12, link: "/search?word=<%=searchHis[3].word%>" },
          { text: "<%=searchHis[4].word%>", weight: 10, link: "/search?word=<%=searchHis[4].word%>" },
          // ...as many words as you want
        ];
         
        $(function () {
          // When DOM is ready, select the container element and call the jQCloud method, passing the array of words as the first argument.
          $("#word-cloud").jQCloud(word_array, {
            shape: "rectangular",
            autoResize: true,
          });
        });
      </script>
  </body>
</html>
