<!DOCTYPE html>
<html lang="ko">
    <head>
        <%- include('./layout/head') %>
    </head>
    <body>
        <div class="wrap">
            <header><%- include('./layout/header') %></header>
            <% var modify = modify; var board_title = board_title; var content = content;%>
            <div class="container">
                <form action="/notice/update/<%= rows[0].no %>?_method=PUT" method="post" onsubmit="return onWriteSubmit();">
                    <div class="form-group">
                        <label class="font-weight-bold" for="title">제목</label>
                        <input type="text" class="form-control" placeholder="제목을 입력하세요." name="title" id="title" />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold" for="content">내용</label>
                        <textarea class="form-control" name="content" id="summernote" cols="30" rows="10"></textarea>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <input type="submit" class="btn btn-primary" value="등록" />
                    </div>
                </form>
            </div>
            <footer><%- include('./layout/footer') %></footer>
        </div>
        <script>
            $(document).ready(function () {
                // 실행시 언어 설정을 한글로 설정
                $.summernote.options.lang = "ko-KR";
                $.summernote.options.airMode = false;

                $("#summernote").val(content);
                $("#summernote").summernote({
                    placeholder: "중거 거래 사이트 - 평화나라",
                    tabsize: 2,
                    height: 500,
                    minHeight: null,
                    maxHeight: null,
                    focus: true,
                    lang: "ko-KR",
                    callbacks: {
                        onImageUpload: function (files, editor, welEditable) {
                            for (var i = files.length - 1; i >= 0; i--) {
                                sendFile(files[i], this);
                            }
                        },
                        onPaste: function (e) {
                            var clipboardData = e.originalEvent.clipboardData;
                            if (clipboardData && clipboardData.items && clipboardData.items.length) {
                                var item = clipboardData.items[0];
                                if (item.kind === "file" && item.type.indexOf("image/") !== -1) {
                                    e.preventDefault();
                                }
                            }
                        },
                    },
                    toolbar: [
                        // [groupName, [list of button]]
                        ["fontname", ["fontname"]],
                        ["fontsize", ["fontsize"]],
                        ["style", ["bold", "italic", "underline", "strikethrough", "clear"]],
                        ["color", ["forecolor", "color"]],
                        ["table", ["table"]],
                        ["para", ["ul", "ol", "paragraph"]],
                        ["height", ["height"]],
                        ["insert", ["picture", "link", "video"]],
                        ["view", ["fullscreen", "help"]],
                    ],
                    fontNames: ["Arial", "Arial Black", "Comic Sans MS", "Courier New", "맑은 고딕", "궁서", "굴림체", "굴림", "돋음체", "바탕체"],
                    fontSizes: ["8", "9", "10", "11", "12", "14", "16", "18", "20", "22", "24", "28", "30", "36", "50", "72"],
                });

                var modify = "<%=modify%>";
                var title = "<%=board_title%>";
                var content = "<%=content%>";
                if(modify == 1){
                    $("#title").val(title);
                    $("#summernote").summernote.val(content);
                }
            });
            /* 이미지 파일 업로드 */
            function sendFile(file, editor) {
                var form_data = new FormData();
                form_data.append("file", file);
                $.ajax({
                    data: form_data,
                    type: "POST",
                    url: "/uploadImage/notice",
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        $(editor).summernote("insertImage", data,url);
                    },
                });
            }

            $("div.note-editable").on("drop", function (e) {
                for (i = 0; i < e.originalEvent.dataTransfer.files.length; i++) {
                    uploadSummernoteImageFile(e.originalEvent.dataTransfer.files[i], $("#summernote")[0]);
                }
                e.preventDefault();
            });
            function onWriteSubmit() {
                if ($("#title").val().trim() == "") {
                    var message = "제목을 입력해 주세요";
                    $("#title").val("");
                    $("#title").focus();
                    alert(message);
                    return false;
                }

                if ($("#summernote").val().trim() == "") {
                    var message = "본문 내용을 입력해 주세요";
                    $("#summernote").val("");
                    $("#summernote").focus();
                    alert(message);
                    return false;
                }
            }
        </script>
    </body>
</html>
